<div class='container'>
<h1 >Add a New Book to our Library</h1>
<h3 class="font-weight-light my-3">Thank you!</h3>

<%= render 'form' %>

<%= link_to 'Home', books_path, class: "btn btn-outline-primary" %>
</div>
