<%= form_for(@author) do |f| %>
    <div class="input-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    
    <button type="submit">Save Author</button>
    <%# redirect to new_book_path %>
<% end %>