<div class='container'>
<h1 class='my-3'>Add a New Author for your Book</h1>

<%= render 'aform' %>

<%= link_to 'New Book Form', new_book_path, class: "btn btn-outline-secondary" %>

<%= link_to 'All Authors', authors_path, class: "btn btn-outline-secondary" %>
</div>
